<div id="<%= dom_id coin %>">
  <tr>
    <td>
      <p>
        <strong>Description:</strong>
        <%= coin.description %>
      </p>
    </td>
    <td>
      <p>
        <strong>Acronym:</strong>
        <%= coin.acronym %>
      </p> 
    </td>
    <td> 
      <p>
        <strong>Url image:</strong>
        <%= image_tag coin.url_image, alt: "Alt text",width:25,height:25%>
      </p>
    </td>
  </tr>
</div>
